
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .blue-button {
        @apply bg-blue text-white px-4 py-2 rounded-lg hover:bg-light-blue;
        font-family: 'Poppins', sans-serif;

    }

    .nav-link {
        @apply text-black hover:text-blue font-semibold m-4;
        font-family: 'Poppins', sans-serif;
    }

    .partner-img{
        @apply w-44 mx-auto lg:w-52;
    
    }

}

.img-container {
    max-width: 400px;
    overflow: hidden; /* Mantiene el overflow para imágenes más grandes */
}

.img-container img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite mantener la proporción de la imagen */
}



